[Unit]
Description=CouchDB Configured for Kazoo
After=network-online.target
Wants=network-online.target

[Service]
RuntimeDirectory=couchdb
User=couchdb
Group=couchdb
Environment="COUCHDB_ARGS_FILE=/etc/kazoo/couchdb/vm.args"
ExecStartPre=+/usr/sbin/kazoo-couchdb prepare
ExecStart=/opt/couchdb/bin/couchdb
Restart=always
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
